@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #061722;
  --bg-light: #eff7fc;
  --dark-theme: #0f3854;
  --light-theme: #cee6f6;
  --secondary-dark-theme: #0a2e38;
  --secondary-light-theme: #a3d0ee;
}

.dark body {
  color: var(--light-theme);
  background: linear-gradient(to bottom, var(--dark-theme), var(--bg-dark), transparent);
}

.light body {
  color: var(--dark-theme);
  background: linear-gradient(to bottom, var(--light-theme), var(--bg-light), transparent);
}
